
  <div class="site">
  <div class="site-container">    
    <div id="skip-link">
      <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
        <header class="site-header" id="sticky-header">
    <div class="skew">
        <div class="container">

          <a href="/" class="site-logo">
              <img src="/sites/all/themes/the_vegan_society/assets/images/logo.png" alt="The Vegan Society">
          </a>
          <a href="#" class="mobile-nav">
              <img src="/sites/all/themes/the_vegan_society/assets/images/icons/nav.png" alt="Mobile Nav">
          </a>
          <a href="/search" class="site-search">
              <img src="/sites/all/themes/the_vegan_society/assets/images/icons/search.png" alt="Search">
          </a>

                    
                    <div class="user-login">
                          <a href="/user">My Account</a>
                      </div>
          
                      <div class="site-nav">
              <ul class="site-nav__item"><li class="menu-1092 first"><a href="/whats-new" title="">What's New?</a></li>
<li class="menu-1027"><a href="/try-vegan" title="">Try vegan</a></li>
<li class="menu-1034"><a href="/take-action" title="">Take action</a></li>
<li class="menu-1046"><a href="/resources" title="">Resources</a></li>
<li class="menu-1060"><a href="/your-business" title="">Your Business</a></li>
<li class="menu-1066"><a href="/society" title="">The Society</a></li>
<li class="menu-1150 last"><a href="/shop" title="">Shop</a></li>
</ul>            </div> <!-- /#main-menu -->
          

        </div>
    </div>
</header> <!-- /.section, /#header -->


        <section class="hero flexslider">

        

            <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1000%; margin-left: -1265px;"><li class="clone" aria-hidden="true" style="width: 1265px; float: left; display: block;">
                    <div class="container skew">
                        <a href="/your-business"><h2 class="hero__title">Grow your business today</h2></a>

                                                    <a class="button hero__button" href="/your-business">Get the trademark</a>
                                            </div>

                    
                    <img class="hero__image" width="1920" height="650" typeof="foaf:Image" src="http://www.vegansociety.com/sites/default/files/shutterstock_94440970.jpg" alt="Grow your business today" draggable="true">                </li>
                                            <li class="flex-active-slide" style="width: 1265px; float: left; display: block;">
                    <div class="container skew">
                        <a href="take-action/join-us/become-member"><h2 class="hero__title">A voice for animals</h2></a>

                                                    <a class="button hero__button" href="take-action/join-us/become-member">become a member</a>
                                            </div>

                    
                    <img class="hero__image" width="1920" height="650" typeof="foaf:Image" src="http://www.vegansociety.com/sites/default/files/A%20voice%20for%20animals_HORSE_1920%20x%20650_300KB.jpg" alt="A voice for animals" draggable="true">                </li>
                                            <li style="width: 1265px; float: left; display: block;" class="">
                    <div class="container skew">
                        <a href="http://www.vegansociety.com/whats-new/campaigns/love-vegan"><h2 class="hero__title">Run Vegan</h2></a>

                                                    <a class="button hero__button" href="http://www.vegansociety.com/whats-new/campaigns/love-vegan">Find out more</a>
                                            </div>

                    
                    <img class="hero__image" width="1920" height="650" typeof="foaf:Image" src="http://www.vegansociety.com/sites/default/files/RV_HeroSlide.jpg" alt="Run Vegan" draggable="true">                </li>
                                            <li style="width: 1265px; float: left; display: block;" class="">
                    <div class="container skew">
                        <a href="/your-business"><h2 class="hero__title">Grow your business today</h2></a>

                                                    <a class="button hero__button" href="/your-business">Get the trademark</a>
                                            </div>

                    
                    <img class="hero__image" width="1920" height="650" typeof="foaf:Image" src="http://www.vegansociety.com/sites/default/files/shutterstock_94440970.jpg" alt="Grow your business today" draggable="true">                </li>
                    <li class="clone" aria-hidden="true" style="width: 1265px; float: left; display: block;">
                    <div class="container skew">
                        <a href="take-action/join-us/become-member"><h2 class="hero__title">A voice for animals</h2></a>

                                                    <a class="button hero__button" href="take-action/join-us/become-member">become a member</a>
                                            </div>

                    
                    <img class="hero__image" width="1920" height="650" typeof="foaf:Image" src="http://www.vegansociety.com/sites/default/files/A%20voice%20for%20animals_HORSE_1920%20x%20650_300KB.jpg" alt="A voice for animals" draggable="true">                </li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></section>

<section class="page try-it">
    <div class="skew">    
        <div class="container">

                                                        <aside class="page-sidebar">
                    <h2 class="try-it__title">
                        <a href="/try-vegan/get-support">
                            Try it for a month
                        </a>
                    </h2>
                    
                                        
                    <p>
                        We're here to help you 'try vegan' for a single week or month.                       </p>
                    <a href="/try-vegan/get-support" class="button try-it__button">Go!</a>
                </aside>
            
            <div class="page-content">
                <div class="home-search__panel">
                                                                                        <!--form class="home-search" action="/search-trademark" method="get">
                            <fieldset>
                                <label class="home-search__title">
                                    <a href="/whats-new/campaigns/love-vegan">Is it vegan?</a>
                                </label>
                                <p>
                                    It’s not just vegans who love vegan living. It’s for everyone.                                  </p>
                                <div class="form-item">
                                    <input type="text" name="name" placeholder="Product / company / service">
                                </div>
                                <button class="button quick-search__button" type="submit">Check</button>
                            </fieldset>
                        </form-->
                        <div class="home-search">
                            <h3 class="home-search__title">
                                <a href="/whats-new/campaigns/love-vegan">Love Vegan</a>
                            </h3>
                            <p>
                                It’s not just vegans who love vegan living. It’s for everyone.                              </p>
                            <a href="/whats-new/campaigns/love-vegan" class="button take-action__button">Love</a>
                        </div>
                    
                                                                
                                                <form class="home-search" action="/recipe-search" method="get">
                            <fieldset>
                                <label class="home-search__title">
                                    <a href="/resources/recipes">Recipes</a>
                                </label>
                                <p>
                                    We're about to rock your world with mind-blowing vegan food!                                    </p>
                                <div class="form-item">
                                    <input type="text" name="combine" placeholder="Recipe">
                                </div>
                                <button class="button quick-search__button" type="submit">Search</button>
                            </fieldset>
                        </form>
                                    </div>
            </div>

        </div>
      
        <div class="container">
            <div class="block-list list1">
                  <div class="region region-content">
    

<div id="node-40" class="node node-page node-full clearfix" about="/one-world-many-lives-our-choice" typeof="foaf:Document">



  <div class="content clearfix">
    
  </div>

  
  
</div>
  </div>
            </div>
        </div>

                <div class="container">
            <div class="block-list list1">
                                                        
                    <div class="block-list__panel">
                        <a href="/take-action/donate/donate-just-%C2%A35-month"><img class="block-list__image" width="420" typeof="foaf:Image" src="http://www.vegansociety.com/sites/default/files/styles/large/public/5permonth_724x352.jpg?itok=P4akuW2R" alt="Donate just £5 a month"></a>
                        <h2 class="block-list__title">
                            <a href="/take-action/donate/donate-just-%C2%A35-month">Donate just £5 a month</a>
                        </h2>
                        <p class="block-list__excerpt">
                            Help change the world for £1.25 a week, the price of a cup of coffee.                            </p>
                    </div>
                                                        
                    <div class="block-list__panel">
                        <a href="/try-vegan/why-go-vegan"><img class="block-list__image" width="420" typeof="foaf:Image" src="http://www.vegansociety.com/sites/default/files/styles/large/public/WhyGoVegan_724x352.jpg?itok=fA8bHOOW" alt="Why go vegan?"></a>
                        <h2 class="block-list__title">
                            <a href="/try-vegan/why-go-vegan">Why go vegan?</a>
                        </h2>
                        <p class="block-list__excerpt">
                            Healthier, greener, kinder to animals and to our planet's future.                           </p>
                    </div>
                                                        
                    <div class="block-list__panel">
                        <a href="/try-vegan/definition-veganism"><img class="block-list__image" width="420" typeof="foaf:Image" src="http://www.vegansociety.com/sites/default/files/styles/large/public/Definition_724x352.jpg?itok=VXOdvBrf" alt="Definition of veganism"></a>
                        <h2 class="block-list__title">
                            <a href="/try-vegan/definition-veganism">Definition of veganism</a>
                        </h2>
                        <p class="block-list__excerpt">
                            What is a vegan and vegan food? What does veganism mean?                          </p>
                    </div>
                            </div>
        </div>

    </div>
</section>

<section class="take-action">
    <div class="skew">    
        <div class="container">

                        <aside class="page-sidebar--right">
                <h2 class="take-action__title">
                    <a href="/take-action">
                        Take action                    </a>
                </h2>
                <p class="take-action__excerpt take-action__intro">
                    There are many different things you can do to help advance veganism in a positive and significant way.                   </p>
            </aside>

            <div class="page-content">
                <div class="take-action__inner-container">

                                                                    <div class="take-action__panel">
                            <h3 class="take-action__sub-title">
                                <a href="/take-action/donate">Donate</a>
                            </h3>
                            <p class="take-action__excerpt">Big or small, donations are vital for our work around the globe.   </p>
                                                            <a href="/take-action/donate" class="button take-action__button">Give</a>
                                                    </div>
                                                                    <div class="take-action__panel">
                            <h3 class="take-action__sub-title">
                                <a href="/take-action/join-us">Join us</a>
                            </h3>
                            <p class="take-action__excerpt">Become a member, united we are stronger.</p>
                                                            <a href="/take-action/join-us" class="button take-action__button">Join</a>
                                                    </div>
                                                                    <div class="take-action__panel">
                            <h3 class="take-action__sub-title">
                                <a href="/shop">Shop</a>
                            </h3>
                            <p class="take-action__excerpt">Support our work while discovering exciting new vegan products.    </p>
                                                            <a href="/shop" class="button take-action__button">Shop</a>
                                                    </div>
                                                                    <div class="take-action__panel">
                            <h3 class="take-action__sub-title">
                                <a href="/take-action/volunteer">Volunteer</a>
                            </h3>
                            <p class="take-action__excerpt">There are a variety of ways to volunteer with us.   </p>
                                                            <a href="/take-action/volunteer" class="button take-action__button volunteer-sign-up">Sign up</a>
                                                    </div>
                                    </div>
            </div>

        </div>
    </div>
</section>

<section class="make-it-official">
    <div class="skew">    
        <div class="container">

                        <aside class="page-sidebar">
                <h2 class="make-it-official__title">
                    <a href="/your-business">
                        Make it official                    </a>
                </h2>
                <p class="make-it-official__excerpt make-it-official__intro">
                    The international Vegan Trademark is the leading symbol of vegan-friendly products and services, with over 16,000 registered so far, more than any other vegan certification body.                </p>
            </aside>

            <div class="page-content">
                <img src="/sites/all/themes/the_vegan_society/assets/images/trademark-logo.png" alt="Vegan Trademark Logo" class="trademark-logo">
                <div class="make-it-official__inner-container">

                                                                    <div class="make-it-official__panel">
                            <h3 class="make-it-official__sub-title">
                                <a href="/your-business/trademark-showcase">Trademark showcase</a>
                            </h3>
                            <p>
                                What our clients are saying about the global Vegan Trademark.                                 </p>

                            <a href="/your-business/trademark-showcase" class="button make-it-official__button">Listen</a>
                        </div>
                                                                    <div class="make-it-official__panel">
                            <h3 class="make-it-official__sub-title">
                                <a href="/your-business/are-you-registered">Are you registered?</a>
                            </h3>
                            <p>
                                The Vegan Trademark is a beacon for attracting new business.                                </p>

                            <a href="/your-business/are-you-registered" class="button make-it-official__button">Register</a>
                        </div>
                                    </div>
            </div>
        </div>
    </div>
</section>

<section class="info-social">
  <div class="skew">
    <div class="container">
      <div class="info-social__grid">
        <div class="info-social__panel">
          <div class="latest-news">
            <h2><a href="/whats-new/news">Latest News</a></h2>
                              <div class="region region-footer-firstcolumn">
    
<div class="view view-latest-information view-id-latest_information view-display-id-block view-dom-id-6850ed42b897dbf7c05470d098bc7913">
        
  
  
      <div class="view-content">
       <div>
      
          <a href="/node/104/what-can-you-do-24-hours">What can you do in 24 hours?</a>    </div>
  <div>
      
          <a href="/node/104/product-recall-alert">Product Recall Alert</a>    </div>
  <div>
      
          <a href="/node/104/successful-egm-2014">Successful EGM 2014</a>    </div>
  <div>
      
          <a href="/node/104/run-vegan-fall-love-veganism">Run vegan &amp; fall in love with veganism</a>    </div>
  <div>
      
          <a href="/node/104/volunteers-week-1-7-june">Volunteer's Week (1-7 June)</a>    </div>
    </div>
  
  
  
  
  
  
</div>  </div>
                      </div>
        </div>
        <div class="info-social__panel">
          <div class="upcoming-events">
              <h2><a href="/whats-new/events">Upcoming Events</a></h2>
                                  <div class="region region-footer-secondcolumn">
    
<div class="view view-upcoming-events view-id-upcoming_events view-display-id-block view-dom-id-7237ce82f6187bfcffe7c756ca9c9623">
        
  
  
      <div class="view-content">
       <div>
      
          <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2014-09-27T00:00:00+01:00">Saturday, 27 September, 2014</span>    
          <a href="/whats-new/events/london-vegfest-0">London VegFest</a>    </div>
    </div>
  
  
  
  
  
  
</div>  </div>
                        </div>
        </div>
        <div class="info-social__panel">
          <h2 class="info-social__title--large">
            Ready?
          </h2>
          <div class="social-media">
            <a href="https://twitter.com/TheVeganSociety" target="_blank" class="social-media__icon twitter">
              Twitter
            </a>
            <a href="https://www.facebook.com/TheVeganSociety" target="_blank" class="social-media__icon facebook">
              Facebook
            </a>
            <a href="https://plus.google.com/106749689060212010539/posts" target="_blank" class="social-media__icon google-plus">
              Google Plus
            </a>
            <a href="http://www.youtube.com/user/TheVeganSociety" target="_blank" class="social-media__icon you-tube">
              You Tube
            </a>
            <a href="http://instagram.com/theoriginalvegansociety" target="_blank" class="social-media__icon instagram">
              Instagram
            </a>
          </div>

          
            <div id="mc_embed_signup">
                                <form action="/sites/all/themes/the_vegan_society/mailchimp-signup.php" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-signup validate">
                    <div id="editrow-email-3" class="mc-field-group">
                        <label for="mce-EMAIL" class="newsletter-signup__title">Keep updated with our newsletter:</label>
                        <input class="newsletter-signup__input" type="email" placeholder="Your Email" value="" name="EMAIL" id="mce-EMAIL">
                    </div>

                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_4314d5d15f23141a37adee604_c3de6c6324" value=""></div>


                    <input accesskey="S" class="button newsletter-signup__button" type="submit" value="Go!" name="subscribe" id="mc-embedded-subscribe">
                </form>
            </div>
          
                  </div>
      </div>
    </div>
  </div>
</section>

<footer class="site-footer">
  <div class="skew">
    <div class="container">
              <a href="/" class="site-footer__logo">
                  <img src="/sites/all/themes/the_vegan_society/assets/images/v-logo.png" alt="The Vegan Society">
              </a>
              <nav class="footer-nav">
                                          <div class="region region-footer">
    <ul class="menu clearfix"><li class="first leaf"><a href="/sitemap" title="">Site Map</a></li>
<li class="leaf"><a href="/privacy-cookie-policy" title="">Privacy &amp; Cookie Policy</a></li>
<li class="last leaf"><a href="/society/contact-us" title="">Contact Us</a></li>
</ul>  </div>
                                </nav>
              <span class="small-print">Reg. Charity No: 279228 Company Reg. No: 1468880</span>
      <span class="small-print">Copyright © 1944 - 2014 The Vegan Society</span>
    </div>
  </div>
</footer>


        </div>




    <div class="mobile-nav-list">

                  <ul class="mobile-site-nav"><li class="menu-1092 first"><a href="/whats-new" title="">What's New?</a></li>
<li class="menu-1027"><a href="/try-vegan" title="">Try vegan</a></li>
<li class="menu-1034"><a href="/take-action" title="">Take action</a></li>
<li class="menu-1046"><a href="/resources" title="">Resources</a></li>
<li class="menu-1060"><a href="/your-business" title="">Your Business</a></li>
<li class="menu-1066"><a href="/society" title="">The Society</a></li>
<li class="menu-1150 last"><a href="/shop" title="">Shop</a></li>
</ul>            </div>    <script type="text/javascript" src="http://www.vegansociety.com/sites/default/files/js/js_Dpwj9_jdZx11LB9vWakYPT-NglBvlNPbjDg8kKHykyQ.js"></script>
  

    
  </div>

<div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div></div>