<div style="display: none;" id="cboxOverlay"></div>
<div style="display: none;" tabindex="-1" role="dialog" class="" id="colorbox">
  <div id="cboxWrapper">
    <div>
      <div style="float: left;" id="cboxTopLeft"></div>
      <div style="float: left;" id="cboxTopCenter"></div>
      <div style="float: left;" id="cboxTopRight"></div>
    </div>
    <div style="clear: left;">
      <div style="float: left;" id="cboxMiddleLeft"></div>
      <div style="float: left;" id="cboxContent">
        <div style="float: left;" id="cboxTitle"></div>
        <div style="float: left;" id="cboxCurrent"></div>
        <button id="cboxPrevious" type="button"></button>
        <button id="cboxNext" type="button"></button>
        <button id="cboxSlideshow"></button>
        <div style="float: left;" id="cboxLoadingOverlay"></div>
        <div style="float: left;" id="cboxLoadingGraphic"></div>
      </div>
      <div style="float: left;" id="cboxMiddleRight"></div>
    </div>
    <div style="clear: left;">
      <div style="float: left;" id="cboxBottomLeft"></div>
      <div style="float: left;" id="cboxBottomCenter"></div>
      <div style="float: left;" id="cboxBottomRight"></div>
    </div>
  </div>
  <div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div>
</div>