<footer class="site-footer">
  <div class="skew">
    <div class="container">
      <a href="/" class="site-footer__logo">
        <%= image_tag "origin/v-logo.png" %>
      </a>
      <nav class="footer-nav">
        <div class="region region-footer"> 
        </div>
      </nav>
      <span class="small-print">Copyright © 1944 - 2014 The Chinese Vegan Society</span>
      <span class="small-print"><a href="http://www.miitbeian.gov.cn">京ICP备09068924号-3</a></span>
    </div>
  </div>
</footer>