<footer class="site-footer">
  <div class="skew">
    <div class="container">
      <a href="/" class="site-footer__logo">
        <%= image_tag "origin/v-logo.png" %>
      </a>
      <nav class="footer-nav">
        <div class="region region-footer">
          <ul class="menu clearfix"><li class="first leaf"><a href="/sitemap" title="">Site Map</a></li>
            <li class="leaf"><a href="/privacy-cookie-policy" title="">Privacy &amp; Cookie Policy</a></li>
            <li class="last leaf"><a href="/society/contact-us" title="">Contact Us</a></li>
          </ul>  
        </div>
      </nav>
      <span class="small-print">Reg. Charity No: 279228 Company Reg. No: 1468880</span>
      <span class="small-print">Copyright © 1944 - 2014 The Vegan Society</span>
    </div>
  </div>
</footer>