<header class="site-header" id="sticky-header">
  <div class="skew">
    <div class="container">

      <a href="/" class="site-logo">
        <%= image_tag "origin/logo.png" %>
      </a>
      <a href="#" class="mobile-nav">
        <%= image_tag "origin/nav.png" %>
      </a>
      <a href="/search" class="site-search">
        <%= image_tag "origin/search.png" %>
      </a>


      <div class="user-login">
        <a href="/user">My Account</a>
      </div>
      
      <div class="site-nav">
        <ul class="site-nav__item">
          <li class="menu-1092 first"><%= link_to "What's New?", whats_news_nodes_path %></li>
          <li class="menu-1027"><a href="/try-vegan" title="">Try vegan</a></li>
          <li class="menu-1034"><a href="/take-action" title="">Take action</a></li>
          <li class="menu-1046"><a href="/resources" title="">Resources</a></li>
          <li class="menu-1060"><a href="/your-business" title="">Your Business</a></li>
          <li class="menu-1066"><a href="/society" title="">The Society</a></li>
          <li class="menu-1150 last"><a href="/shop" title="">Shop</a></li>
        </ul>
      </div> <!-- /#main-menu -->


    </div>
  </div>
</header> <!-- /.section, /#header -->