<section class="info-social">
  <div class="skew">
    <div class="container">
      <div class="info-social__grid">
        <div class="info-social__panel">
          <div class="latest-news">
            <h2><a href="/whats-new/news">Latest News</a></h2>
            <div class="region region-footer-firstcolumn">

              <div class="view view-latest-information view-id-latest_information view-display-id-block view-dom-id-6850ed42b897dbf7c05470d098bc7913">

                <div class="view-content">
                  <div>
                    <a href="/node/104/what-can-you-do-24-hours">What can you do in 24 hours?</a>    
                  </div>
                  <div>

                    <a href="/node/104/product-recall-alert">Product Recall Alert</a>    
                  </div>
                  <div>

                    <a href="/node/104/successful-egm-2014">Successful EGM 2014</a>    
                  </div>
                  <div>

                    <a href="/node/104/run-vegan-fall-love-veganism">Run vegan &amp; fall in love with veganism</a>    
                  </div>
                  <div>

                    <a href="/node/104/volunteers-week-1-7-june">Volunteer's Week (1-7 June)</a>    
                  </div>
                </div>

              </div>  
            </div>
          </div>
        </div>
        <div class="info-social__panel">
          <div class="upcoming-events">
            <h2><a href="/whats-new/events">Upcoming Events</a></h2>
            <div class="region region-footer-secondcolumn">

              <div class="view view-upcoming-events view-id-upcoming_events view-display-id-block view-dom-id-7237ce82f6187bfcffe7c756ca9c9623">



                <div class="view-content">
                  <div>

                    <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2014-09-27T00:00:00+01:00">Saturday, 27 September, 2014</span>    
                    <a href="/whats-new/events/london-vegfest-0">London VegFest</a>    
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="info-social__panel">
          <h2 class="info-social__title--large">
            联系我们
          </h2>
          <div class="social-media">
            <a href="mailto:TRUEDREAMCC@163.COM" class="social-media__icon twitter">
              邮件
            </a>
            <a href="javascript:void(0)" target="_blank" class="social-media__icon facebook">
              微信<span class="qr-code"><%= image_tag "code.png" %></span>
            </a>
            <a href="http://weibo.com/xinmengxiangdahui" target="_blank" class="social-media__icon google-plus">
              微博
            </a>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

  <script type="text/javascript">
    $(function(){
      $('.social-media .facebook').hover(function(){
        $(".qr-code").css({"display":"block"})
      },function(){
        $(".qr-code").css({"display":"none"})
      });
    })
  </script>