<section class="info-social">
  <div class="skew">
    <div class="container">
      <div class="info-social__grid">
        <div class="info-social__panel info-social__panel__text">
          <div class="latest-news">
            <h2><a href="javascript:void(0)">玛格丽特.米德曾说：</a></h2>
            <div class="region region-footer-firstcolumn">

              <div class="view view-latest-information view-id-latest_information view-display-id-block view-dom-id-6850ed42b897dbf7c05470d098bc7913">

                <div class="view-content">
                  <div>
                    <a href="javascript:void(0)">永远不要怀疑，<br/>那一小部分有思想并且执着努力的公民能够改变这个世界。<br/>事实上，<br/>人类的历史从来都是这样。</a>    
                  </div>
                </div>

              </div>  
            </div>
            <div class="upcoming-events">
              <h2><a href="javascript:void(0)">Margaret Mead once said:</a></h2>
              <div class="region region-footer-secondcolumn">

                <div class="view view-upcoming-events view-id-upcoming_events view-display-id-block view-dom-id-7237ce82f6187bfcffe7c756ca9c9623">
                  <div class="view-content">
                    <div>    
                      <a href="javascript:void(0)">Never doubt,<br/>that a small group of thoughtful and persistent efforts of citizens can change the world.<br/> In fact, <br/>human history has always been so.</a>    
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="info-social__panel">
          <div class="upcoming-events">
            <h2><a href="/whats-new/events">Margaret Mead once said:</a></h2>
            <div class="region region-footer-secondcolumn">

              <div class="view view-upcoming-events view-id-upcoming_events view-display-id-block view-dom-id-7237ce82f6187bfcffe7c756ca9c9623">
                <div class="view-content">
                  <div>    
                    <a href="/whats-new/events/london-vegfest-0">Never doubt,<br/>that a small group of thoughtful and persistent efforts of citizens can change the world.<br/> In fact, <br/>human history has always been so.</a>    
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div> -->
        <div class="info-social__panel">
          <h2 class="info-social__title--large">
            联系我们
          </h2>
          <div class="social-media">
            <a href="mailto:TRUEDREAMCC@163.COM" class="social-media__icon twitter">
              邮件
            </a>
            <a href="javascript:void(0)" target="_blank" class="social-media__icon facebook">
              微信<span class="qr-code"><%= image_tag "code.png" %></span>
            </a>
            <a href="http://weibo.com/xinmengxiangdahui" target="_blank" class="social-media__icon google-plus">
              微博
            </a>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

  <script type="text/javascript">
    $(function(){
      $('.social-media .facebook').hover(function(){
        $(".qr-code").css({"display":"block"})
      },function(){
        $(".qr-code").css({"display":"none"})
      });
    })
  </script>