<section class="info-social">
  <div class="skew">
    <div class="container">
      <div class="info-social__grid">
        <div class="info-social__panel">
          <div class="latest-news">
            <h2><a href="/whats-new/news">Latest News</a></h2>
            <div class="region region-footer-firstcolumn">

              <div class="view view-latest-information view-id-latest_information view-display-id-block view-dom-id-6850ed42b897dbf7c05470d098bc7913">

                <div class="view-content">
                  <div>
                    <a href="/node/104/what-can-you-do-24-hours">What can you do in 24 hours?</a>    
                  </div>
                  <div>

                    <a href="/node/104/product-recall-alert">Product Recall Alert</a>    
                  </div>
                  <div>

                    <a href="/node/104/successful-egm-2014">Successful EGM 2014</a>    
                  </div>
                  <div>

                    <a href="/node/104/run-vegan-fall-love-veganism">Run vegan &amp; fall in love with veganism</a>    
                  </div>
                  <div>

                    <a href="/node/104/volunteers-week-1-7-june">Volunteer's Week (1-7 June)</a>    
                  </div>
                </div>

              </div>  
            </div>
          </div>
        </div>
        <div class="info-social__panel">
          <div class="upcoming-events">
            <h2><a href="/whats-new/events">Upcoming Events</a></h2>
            <div class="region region-footer-secondcolumn">

              <div class="view view-upcoming-events view-id-upcoming_events view-display-id-block view-dom-id-7237ce82f6187bfcffe7c756ca9c9623">



                <div class="view-content">
                  <div>

                    <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2014-09-27T00:00:00+01:00">Saturday, 27 September, 2014</span>    
                    <a href="/whats-new/events/london-vegfest-0">London VegFest</a>    
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="info-social__panel">
          <h2 class="info-social__title--large">
            Ready?
          </h2>
          <div class="social-media">
            <a href="https://twitter.com/TheVeganSociety" target="_blank" class="social-media__icon twitter">
              Twitter
            </a>
            <a href="https://www.facebook.com/TheVeganSociety" target="_blank" class="social-media__icon facebook">
              Facebook
            </a>
            <a href="https://plus.google.com/106749689060212010539/posts" target="_blank" class="social-media__icon google-plus">
              Google Plus
            </a>
            <a href="http://www.youtube.com/user/TheVeganSociety" target="_blank" class="social-media__icon you-tube">
              You Tube
            </a>
            <a href="http://instagram.com/theoriginalvegansociety" target="_blank" class="social-media__icon instagram">
              Instagram
            </a>
          </div>


          <div id="mc_embed_signup">
            <form action="/sites/all/themes/the_vegan_society/mailchimp-signup.php" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-signup validate">
              <div id="editrow-email-3" class="mc-field-group">
                <label for="mce-EMAIL" class="newsletter-signup__title">Keep updated with our newsletter:</label>
                <input class="newsletter-signup__input" type="email" placeholder="Your Email" value="" name="EMAIL" id="mce-EMAIL">
              </div>

              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    

              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_4314d5d15f23141a37adee604_c3de6c6324" value=""></div>


              <input accesskey="S" class="button newsletter-signup__button" type="submit" value="Go!" name="subscribe" id="mc-embedded-subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>